*{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
/* header and navigation styles */
nav{
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
.nav-title{
  font-weight: 800;
font-size: 45px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin: 50px;
}
.btn-primary{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
  height: 64px;
  background: #FD6E0A;
  border-radius: 5px;
}
.text-primary{
 color: #FD6E0A;
}
/* banner style */
.banner{
  margin: 0 200px;
  display: flex;
  align-items: center;
}

.banner-title{
 font-weight: 700;
 font-size: 85;
}
.banner-sub-title{ 
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}
.banner-des{
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}